@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<blockquote>
    <p>Last Updated: May 25, 2022</p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a 
        type specimen book.
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>  
    <h1>Interpretation and Definitions</h1>
     <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a 
        type specimen book.
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
</blockquote>
<hr/>

<blockquote>
    <h3>Usage Data</h3>
     <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a 
        type specimen book.
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
</blockquote>